@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "_LayoutUser";
}

<div>
    <h3><b>Telefon:</b></h3>
    <h5>+387 33 665 889<br />+387 33 665 890</h5><br /><br />

    <h3><b>Email:</b></h3>
    <h5>vivenditravel@gmail.com</h5><br /><br />

    <h3><b>Lokacija:</b></h3>
    <h5>Marsala Tita 9 <br /> 71000 Sarajevo <br /> Bosna i  Hercegovina</h5><br /><br />
</div>
<div>
    <img src="~/Theme/dist/img/contactus.png" alt="Contact" width="1100" height="160" />
</div>